body
{
	padding-top: 60px;
	background-image: url("W.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


p.ita {
	padding-top: 30px;
    font: italic bold 18px/30px Georgia, serif;
    color: white;
}

.padding_top
{
	padding-top: 60px;
}